html {
  scroll-padding-top: 90px; /* Ensures headings never hide under navbar */
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  display: block;
  padding-top: 30px; 
}

#about p {
  text-align: justify;
  font-size: 25px;
}

#projects h2 {
  font-weight: 700;
}

#home {
  min-height: auto;   
  padding-top: 80px;  
  padding-bottom: 40px;
}

.navbar {
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: #000 !important;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.btn-primary {
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.badge {
  font-size: 1.1rem;
}

textarea {
  resize: none;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  display: inline-block;
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  width: 420px;
}

.project-img {
  width: 100%;
  height: 330px;     
  /* object-fit: contain;  */
  display: block;
  border-radius: 5px;
}

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

footer {
  display: block !important;
}
